body {
  font-family: "Montserrat", sans-serif;
}
header {
  padding: 100px 0 100px;
}

section {
  padding: 150px 0;
}

.logo {
  border-radius: 150px !important;
  padding-bottom: 8px;
}
.social-icons i {
  color: whitesmoke;
  padding-right: 8px;
  transition: all 1s;
}
.social-icons i:hover {
  transform: scale(1.1);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s;
}

.card img {
  border-bottom: 1px solid grey;
}

.card:hover {
  transform: scale(1.1);
}
